@media screen and (max-width: 460px) {
    .pc {
        display: none;
    }
    .tablet {
        display: none;
    }
    .phone {
        display: block;
    }
    #ph_top_top {
        width: 100%;
        height: 1px;
        top: 0;
    }
    body {
        overflow-x: hidden;
    }
    /* navbar */
    .ph_navbar {
        width: 100%;
        height: 60px;
        background-color: rgb(255, 255, 255);
        /* position: relative; */
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0px 0px 8px #000;
        min-width: 370px;
    }
    .ph_forestwud {
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 6px;
        font-weight: bold;
        line-height: 60px;
        padding-left: 50px;
    }
    .ph_forestwud a {
        text-decoration: none;
        color: black;
    }
    .box_a {
        position: absolute;
        top: 5px;
        right: 8px;
    }
    /* .line {
        width: 30px;
        border: 2px solid rgb(102, 102, 102);
        margin-bottom: 5px;
    } */
    .ph_nav .link {
        /* display: block; */
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }
    /* .ph_nav .link:nth-child(5) {
        box-shadow: 0 4px 2px -2px black;
    } */
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .ph_nav {
        opacity: 0;
        transition: all 0.3s ease-out;
        height: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        float: left;
        overflow: hidden;
    }
    .ph_nav_1 {
        opacity: 1;
        height: 300px;
    }
    .link {
        font-size: 20px;
        font-weight: bold;
    }
    /* slider */
    .ph_slider_out {
        width: 100%;
        height: 550px;
        margin-top: 100px;
    }
    .ph_slider {
        width: 100%;
        height: 550px;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    }
    /* menu */
    .ph_menu {
        width: 100%;
        height: 700px;
        position: relative;
    }
    .ph_menu .ph_h3 h3 {
        margin: 0;
    }
    .ph_menu .ph_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ph_ruler {
        text-align: center;
        line-height: 15px;
        /* margin-bottom:40px;  */
    }
    .ph_card {
        margin-top: 30px;
        width: 100%;
        height: 630px;
        /* background-color: #eee; */
    }
    .ph_one {
        width: 100%;
        height: 210px;
        display: flex;
    }
    .ph_card_a {
        flex: 1;
        text-align: center;
        position: relative;
    }
    .ph_two {
        width: 100%;
        height: 210px;
        display: flex;
    }
    .ph_three {
        width: 100%;
        height: 210px;
        display: flex;
    }
    .ph_card_a .h3 {
        position: absolute;
        text-align: center;
        top: 70px;
        left: 70px;
        z-index: 3;
    }
    .ph_card_a .h3 h3 {
        font-size: 15px;
    }
    .ph_card_a .h3_1 {
        position: absolute;
        text-align: center;
        top: 70px;
        left: 60px;
        z-index: 3;
    }
    .ph_card_a .h3_1 h3 {
        font-size: 15px;
    }
    /* news */
    .ph_news {
        width: 100%;
        height: 660px;
        position: relative;
        background-color: #EFEFEF
    }
    .ph_news .ph_h3 h3 {
        margin: 0;
        padding-top: 30px;
    }
    .ph_news .ph_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ph_new_out {
        width: 100%;
        height: 530px;
        text-align: center;
        line-height: 176px;
        /* border: 1px solid black; */
        margin-top: 30px;
    }
    .ph_new_1 {
        width: 100%;
        height: 33.33%;
        border-bottom: 3px dashed black;
    }
    .ph_new_1:nth-child(1) {
        border-top: 3px dashed rgb(0, 0, 0);
    }
    .ph_new_2 {
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.158);  */
        transition-duration: 0.3s;
    }
    .ph_new_3 {
        background-color: black;
        color: white;
        transform: translateX(5px);
    }
    .ph_new_2 .ph_day {
        float: left;
        width: 120px;
        height: 176px;
        /* background-color: rgb(204, 54, 54); */
        text-align: center;
        line-height: 176px;
        font-size: 30px;
    }
    .ph_new_2 .ph_someout {
        float: left;
        height: 88px;
        /* background-color: rgb(20, 136, 59); */
        text-align: bottom;
        line-height: 88px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 15px;
    }
    .ph_new_2 .ph_some {
        float: left;
        width: calc( 100% - 120px);
        height: 88px;
        /* background-color: rgb(79, 60, 184); */
        text-align: left;
        line-height: 28px;
        font-size: 13px;
        padding-left: 15px;
    }
    /* about */
    .ph_about {
        width: 100%;
        height: 1400px;
        position: relative;
        background-color: rgb(255, 255, 255)
    }
    .ph_about .ph_h3 h3 {
        margin: 0;
        padding-top: 30px;
    }
    .ph_about .ph_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ph_about_1 {
        width: 100%;
        height: 290px;
        background-color: #EFEFEF;
        margin-top: 30px;
        text-align: left;
        line-height: 28px;
        font-size: 14px;
        padding: 23px;
    }
    .ph_about_2 {
        width: 100%;
        height: 280px;
        background-color: #EFEFEF;
        background-image: url("img/about/about01-w600.png");
        background-size: cover;
    }
    .ph_about_3 {
        width: 100%;
        height: 370px;
        background-color: #EFEFEF;
        text-align: left;
        line-height: 28px;
        font-size: 14px;
        padding: 29px;
    }
    .ph_about_4 {
        width: 100%;
        height: 400px;
        background-color: #EFEFEF;
        background-image: url("img/about/about04-w768.png");
        background-size: cover;
        /* position: relative; */
        padding-top: 60px;
    }
    .ph_about_4in {
        width: 40%;
        height: 240px;
        background-color: rgba(255, 255, 255, 0.774);
        text-align: center;
        padding: 2px;
        /* position: absolute; */
        margin: auto;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 20px;
        border-radius: 15px;
    }
    /* contact */
    .ph_contact {
        width: 100%;
        height: 580px;
        position: relative;
        background-color: rgb(255, 255, 255);
    }
    .ph_contact .ph_h3 h3 {
        margin: 0;
        padding-top: 30px;
    }
    .ph_contact .ph_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ph_formout {
        width: 100%;
        height: 630px;
        padding-left: 50px;
        margin-top: 30px;
    }
    .ph_form {
        width: 100%;
        height: 80%;
        text-align: left;
        font-size: 15px;
        padding: 0 auto;
        margin-top: 30px;
    }
    .ph_in_1 {
        margin-bottom: 30px;
    }
    .ph_in_2 {
        margin-bottom: 30px;
    }
    .ph_in_3 {
        margin-bottom: 30px;
    }
    .ph_in_4 {
        margin-bottom: 30px;
    }
    #ph_name {
        height: 35px;
        width: 60%;
        background-color: #EFEFEF;
        border: 0;
        border-radius: 5px;
    }
    #ph_email {
        height: 35px;
        width: 60%;
        background-color: #EFEFEF;
        border: 0;
        border-radius: 5px;
    }
    #ph_title {
        height: 35px;
        width: 60%;
        background-color: #EFEFEF;
        border: 0;
        border-radius: 5px;
    }
    #ph_con {
        height: 150px;
        width: 80%;
        background-color: #EFEFEF;
        border: 0;
        border-radius: 5px;
    }
    .ph_btn {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        line-height: 40px;
        position: relative;
    }
    #ph_btn {
        height: 40px;
        width: 70px;
        border: 0;
        border-radius: 30px;
        background-color: rgb(114, 114, 114);
        position: absolute;
        right: 20%;
    }
    .ph_footer {
        width: 100%;
        height: 160px;
        background-color: #EFEFEF;
        text-align: center;
        padding: 40px 0;
        line-height: 20px;
        font-size: 13px;
    }
    /* bottom */
    .ph_bottom {
        width: 100%;
        height: 70px;
    }
    #ph_icon {
        display: flex;
    }
    .ph_icon {
        flex: 1;
        text-align: center;
        padding-top: 15px;
    }
    /* back to top */
    #ph_top {
        position: fixed;
        right: 25px;
        bottom: 70px;
        display: none;
        width: 30px;
        height: 30px;
        z-index: 20;
        opacity: 0.5;
    }
    #ph_top.show {
        display: block;
    }
    #ph_top.hide {
        display: none;
    }
}