@media screen and (max-width: 1024px) {
    .pc {
        display: none;
    }
    .phone {
        display: none;
    }
    #tablet {
        display: block;
    }
    #ta_top_top {
        width: 100%;
        height: 1px;
        top: 0;
    }
    body {
        overflow-x: hidden;
    }
    /* navbar */
    .ta_navbar {
        width: 100%;
        height: 80px;
        background-color: #efefef;
        /* position: relative; */
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0px 0px 8px #000;
        min-width: 370px;
    }
    .ta_forestwud {
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 6px;
        font-weight: bold;
        line-height: 80px;
        padding-left: 50px;
    }
    .ta_forestwud a {
        text-decoration: none;
        color: black;
    }
    .ta_box_a {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    
    .ta_nav .link {
        /* display: block; */
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .ta_nav {
        opacity: 0;
        transition: all 0.3s ease-out;
        height: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        float: left;
        overflow: hidden;
    }
    .ta_nav_1 {
        opacity: 1;
        height: 300px;
    }
    .link {
        font-size: 20px;
        font-weight: bold;
    }

    /* slider */
    .ta_slider_out {
        width: 100%;
        height: 550px;
        margin-top: 100px;
    }
    .ta_slider {
        width: 100%;
        height: 550px;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    }

    /* logo */
    #ta_logo{
        position: absolute;
        width: 120px;
        height: 140px;
        top: 350px;
        left: 20%;
        z-index: 3;
    }

    /* mene */
    .ta_menu {
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 30px;
    }
    .ta_menu .ta_h3 h3 {
        margin: 0;
    }
    .ta_menu .ta_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ta_ruler {
        text-align: center;
        line-height: 15px;
        /* margin-bottom:40px;  */
    }
    /* card */
    .ta_card {
        width: 80%;
        height: 620px;
        /* background-color: #eee; */
        margin: 0 auto;
        bottom: 20px;
        /* left: 140px; */
        margin-bottom: 50px;
    }
    .ta_card .ta_one {
        display: flex;
    }
    .ta_card .ta_two {
        display: flex;
    }
    .ta_card .ta_card_a {
        flex: 1;
        text-align: center;
        position: relative;
        margin-top: 50px;
    }
    
    .ta_card .ta_card_a h3 {
        
        text-decoration: none;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    
    /* news */
    .ta_news {
        width: 100%;
        height: 680px;
        position: relative;
        background-color: #EFEFEF
    }
    .ta_news .ta_h3 h3 {
        margin: 0;
        padding-top: 30px;
    }
    .ta_news .ta_h3 {
        text-align: center;
        line-height: 18px;
    }
    .ta_new_out {
        width: 100%;
        height: 530px;
        text-align: center;
        line-height: 176px;
        /* border: 1px solid black; */
        margin-top: 30px;
    }
    .ta_new_1 {
        margin: 0 auto;
        width: 73%;
        height: 33.33%;
        border-bottom: 3px dashed black;
    }
    .ta_new_1:nth-child(1) {
        border-top: 3px dashed rgb(0, 0, 0);
    }
    .ta_new_2 {
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.158);  */
        transition-duration: 0.4s;
    }
    .ta_new_3 {
        background-color: black;
        color: white;
        transform: translateX(10px);
    }
    .ta_new_2 .ta_day {
        float: left;
        width: 170px;
        height: 176px;
        /* background-color: rgb(204, 54, 54); */
        text-align: center;
        line-height: 176px;
        font-size: 35px;
    }
    .ta_new_2 .ta_someout {
        float: left;
        height: 88px;
        /* background-color: rgb(20, 136, 59); */
        text-align: bottom;
        line-height: 88px;
        font-size: 20px;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 15px;
    }
    .ta_new_2 .ta_some {
        float: left;
        width: calc( 100% - 170px);
        height: 88px;
        /* background-color: rgb(79, 60, 184); */
        text-align: left;
        line-height: 28px;
        font-size: 15px;
        padding-left: 15px;
    }

    /* about */
    
    .ta_about{
        width: 100%;
        height: 1030px;
        background-image: url("img/about/bg-08.svg");
        background-repeat: no-repeat;
        background-size:contain; 
        position: relative;
    }

    .ta_about .ta_h3{
        text-align: center;
        line-height: 18px;
    }

    .ta_about .ta_h3 h3{
        margin: 0;
        margin-top: 30px;
    }


    .ta_about_1{
        width: 54%;
        height: 420px;
        background-color: #EFEFEF;
        position: absolute;
        top: 80px;
        border-radius: 0 35px 35px 0; 
        
    }

    .ta_text_1{
        width: 60%;
        height: 420px;
        line-height: 30px;
        margin: auto;
        margin-top: 45px;
        letter-spacing: 2px;
        font-size: 14px;
    }

    .ta_about_2{
        width: 42%;
        height: 380px;
        background-color: #EFEFEF;
        position: absolute;
        top: 270px;
        right: 0;
        border-radius: 35px 0 0 35px; 
    }

    .ta_text_2{
        width: 80%;
        height: 300px;
        line-height: 25px;
        margin: auto;
        margin-top: 30px;
        letter-spacing: 2px;
        font-size: 12px;
    }

    .ta_about_3{
        width: 48%;
        height: 400px;
        background-image: url("img/about/about01-w600.png");
        background-size:cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 580px;
        border-radius: 0 35px 35px 0 ; 
    }

    .ta_about_4{
        width: 18%;
        height: 300px;
        position: absolute;
        top: 660px;
        left:50%; 
    }

    .ta_text_4{
        width: 70%;
        height: 300px;
        line-height: 30px;
        margin: auto;
        margin-top: 30px;
        letter-spacing: 2px;
    }

    /* contact */
    .ta_contact{
        width: 100%;
        height: 650px;
        background-color: #EFEFEF;
        position: relative;
    }

    .ta_contact .ta_h3{
        text-align: center;
        line-height: 18px;
    }

    .ta_contact .ta_h3 h3{
        margin: 0;
        padding-top:30px; 
    }

    .ta_form{
        width: 65%;
        height: 400px;
        /* background-color: rgb(56, 53, 53); */
        padding-top: 30px; 
        margin: auto;
    }

    .ta_in_1{
        width: 100%;
        height: 70px;
        display: inline-block;
        /* border: 1px solid rgb(71, 71, 71); */
        text-align: center;
        line-height: 70px;
        font-size: 14px;
    }

    #ta_name{
        width: 20%;
        height: 50px;
        border-radius: 15px;
        padding-left: 10px;
        border: none; 
    }

    #ta_email{
        width: 50%;
        height: 50px;
        border-radius: 15px;
        padding-left: 10px;
        border: none;  
    }

    .ta_in_2{
        width: 100%;
        height: 90px;
        /* border: 1px solid rgb(71, 71, 71); */
        text-align: center;
        line-height: 90px;
        font-size: 14px;
    }

    #ta_title{
        width: 80%;
        height: 50px;
        border-radius: 15px;
        padding-left: 10px;
        border: none;  
    }

    .ta_in_3{
        width: 100%;
        height: 300px;
        /* border: 1px solid rgb(71, 71, 71); */
        text-align: center;
        line-height: 300px;
        font-size: 14px;
    }

    #ta_con{
        width: 90%;
        height: 250px;
        border-radius: 15px;
        padding: 18px;
        font-size: 18px;
        border: none; 
        margin-top: 10px; 
    }

    .ta_btn{
        width: 100%;
        height: 40px;
        /* border: 1px solid rgb(71, 71, 71); */
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        position: relative
    }

    .ta_btn #ta_btn{
        width: 80px;
        height: 40px;
        border-radius: 10px;
        background-color: rgb(138, 138, 138);
        border: none;
        position: absolute;
        right: 8%;
        
    }

    /* footer */
    .ta_footer{
        width: 100%;
        height: 180px;
        /* border: 1px solid black; */
        text-align: center;
        margin-top: 75px;
    }

    .ta_foot{
        width: 100%;
        height: 25px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 1px;
        font-size: 13px;
    }

    .ta_bottom{
        width: 100%;
        height: 60px;
        background-color: #EFEFEF;
    }



    /* back to top */
    #ta_top{
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: none;
        width: 30px;
        height: 30px;
        z-index: 20;
        opacity: 0.7;
    }
    
    #ta_top.show{
        display: block;
    }
    
    #ta_top.hide{
        display: none;
    }
    
}