@media screen and (max-width: 768px) {
    .pc{
        display: none; 
    }

    .phone{
        display: none;
    }

    #ta_top_top{
        width: 100%;
        height: 1px;
        top: 0;
    }
    





















}